@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

	* {
	  padding: 0;
	  margin: 0;
	  list-style: none;
	  animation: trans 2s;
	  font-family: 'Poppins', sans-serif;
	}

	@keyframes trans {
	  0% {
	    opacity: 0;
	    transform: rotatex(-15deg);
	  }

	  100% {
	    opacity: 1;
	    transform: rotatex(0deg);
	  }
	}

	body {
	  background: #EBE6FF;

	}

	.svg {
	  animation: none;
	  transform-origin: 0;
	  margin-top: 200px;
	}

	a {
	  text-decoration: none;
	  color: inherit;
	}

	.head span {
	  color: #8080F3;
	}

	span {
	  color: #8080F3;

	}

	header {
	  width: 100%;
	  background: #F8F3FF;
	  position: fixed;
	  font-weight: 600;
	  max-height: 30px;
	}

	nav {
	  display: flex;
	  padding: 20px 8%;
	  justify-content: space-between;
	  color: #2A2A60;
	}

	.links li {
	  display: inline-block;
	  margin: 0 8px;
	  font-size: 11px;
	}



	header .logo {
	  line-height: 0;
	  margin-left: 60px;
	}

	header .logo img {
	  max-height: 12px;
	  margin-right: 6px;
	  transform: rotate(0deg);
	}

	header .logo span {
	  font-size: 15px;
	  font-weight: 700;
	  letter-spacing: 1px;
	  color: #012970;
	  font-family: "Nunito", sans-serif;
	  margin-top: 3px;
	}





	section {
	  background: #EBE6FF;
	  color: #2A2A60;

	}


	.c {
	  padding: 100px 0;
	  margin: 0 17%;
	}


	.sub {
	  margin: 200px 4px 40px 4px;
	  font-size: 0.8em;
	  font-weight: 600;
	  color: #333;
	}

	p {
	  /* font-size: 1.4em; */

	  font-size: 7.65px;

	  line-height: 15px;
	  font-weight: 500;
	}





	.head {
	  display: flex;
	  margin-top: -60px;
	  justify-content: space-between;
	}

	.head h1 {
	  font-size: 2.7em;
	  font-weight: 600;
	  line-height: 70px;
	  margin: 230px 0;
	  text-align: left;
	  width: 60%;
	}



	body,
	html {
	  padding: 0;
	  margin: 0;
	  height: 100%;
	}

	svg {
	  max-width: 100%;
	}

	#g {
	  animation: spin 7s 1;
	  transform-origin: 0;
	}

	#boy {
	  animation: spin 2s 4;
	  transform-origin: 0;
	}

	@keyframes spin {
	  0% {
	    transform: rotate(deg);
	    opacity:1;
	  }
	  100% {
	    transform: rotate(-10deg);
	    opacity:0;
	  }
	}

	.head2 {
	  width: 100%;
	  display: flex;
	}

	.head2 .svg {
	  width: 50%;
	}

	.head2 h1 {
	  width: 40%;
	  text-align: right;

	}

	.other {
	  background: #FFE5E578;
	  width: 100%;
	}
/*

	.co {
	  background: linear-gradient(90deg, #9BD5FF,#9BD5FF,#4AFFED,#ECD3FF);
	  padding: 7px;
	  border-radius: 10px;
	  padding-top: 50px;
	  box-shadow: -10px 10px 20px #3F3F3F80;

	}
	*/
	
	.co {
	  background: linear-gradient(90deg, #9BD5FF,#9e9bff);
	  padding: 7px;
	  border-radius: 10px;
	  padding-top: 50px;
	  box-shadow: -4px 7px 10px #3F3F3F69;
	  margin-top: 25px;

	}

	.con {
	  background: #42445ADE;
	  min-height: 300px;
	  display:flex;
	  justify-content: center;
	  align-items: center;

	}
		.con2 {
	  background: #42445ADE;
	  min-height: 350px;
	  display:flex;
	  justify-content: center;
	  align-items: center;

	}
		.con3 {
		  background: #42445ADE;
		  min-height: 250px;
		  display: flex;
		  justify-content: center;
		  align-items: center;
	
		}
	.coi {
	  background: linear-gradient(270deg, #FEDFDFA1,#D3BBFF,#A694FF);
	  border-radius: 10px;
	  

	}
	.ball {
	  min-height: 900px;
	  width:900px;
	  background:#FFF4F4;
	  position: absolute ;
	  top:-100px;
	  left :50px;
	  background: radial-gradient(#989CFF,#E1DAF92E,#FFF4F400);
	  opacity:0%;
	}
	.ball2 {
	  min-height: 900px;
	  width:900px;
	  background:#FFF4F4;
	  position: absolute ;
	  top:600px;
	  left:50px;
	  background: radial-gradient(#F9DADA,#E1DAF92E,#FFF4F400);
	  opacity:0%;
	  animation: rot 2s 6;
	}
	
	
	.dots {
	  	  position: absolute ;
	  	  
	}
