	* {
	  padding: 0;
	  margin: 0;
	  list-style: none;
	  animation: trans 2s; 
	  font-family: verdana;
	}

	@keyframes trans {
	  0% {
	    opacity: 0;
	    transform: rotatex(-15deg);
	  }

	  100% {
	    opacity: 1;
	    transform: rotatex(0deg);
	  }
	}

	body {
	  background: #EBE6FF;

	}

	.svg {
	  animation:none;
    transform-origin:0;
	  margin-top: 200px;
	}

	a {
	  text-decoration: none;
	  color: inherit;
	}

	.head span {
	  color: #8080F3;
	}

	span {
	  color: #8080F3;

	}

	header {
	  width: 100%;
	  background: #fff;
	  position: fixed;
	  font-weight: 600;
	}

	nav {
	  display: flex;
	  padding: 20px 8%;
	  justify-content: space-between;
	  color: #2A2A60;
	}

	.links li {
	  display: inline-block;
	  margin: 0 8px;
	  font-size: 11px;
	}



	header .logo {
	  line-height: 0;
	  margin-left: 60px;
	}

	header .logo img {
	  max-height: 12px;
	  margin-right: 6px;
	  transform: rotate(0deg);
	}

	header .logo span {
	  font-size: 15px;
	  font-weight: 700;
	  letter-spacing: 1px;
	  color: #012970;
	  font-family: "Nunito", sans-serif;
	  margin-top: 3px;
	}





	section {
	  background:  #EBE6FF;
	  color: #2A2A60;

	}


	.c {
	  padding: 100px 0;
	  margin: 0 17%;
	}


	.sub {
	  margin: 200px 4px 40px 4px;
	  font-size: 1.6em;
	  font-weight: 600;
	  color: #333;
	}

	p {
	  /* font-size: 1.4em; */

	  font-size: 7.65px;

	  line-height: 15px;
	  font-weight: 500;
	}





	.head {
	  display: flex;
	  margin-top: -60px;
	  justify-content: space-between;
	}

	.head h1 {
	  font-size: 2em;
	  font-weight: 600;
	  line-height: 70px;
	  margin: 230px 0;
	  text-align: left;
	  width:30%;
	}



body, html {
  padding: 0;
  margin:0;
  height:100%;
}
svg {
  max-width:100%;
}

#girl {
  animation: spin 7s 1;
  transform-origin: 0;
}

#boy {
  animation: spin 1s 4;
  transform-origin: 0;
}
@keyframes spin {
  100% {
    transform: rotate(-20deg)
  }
}

.head2 {
  width:100%;
  display: flex;
}
.head2 .svg {
  width:50%;
}
.head2 h1 {
  width:40%;
  text-align: right;
  
}
